body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

h2 {
    color: #000;
    font-family: Calibri;
    font-size: 75px;
    line-height: 60px;
    text-align: center;
}
  
h3 {
    height: 30px;
    width: 280px;
    color: #000;
    font-family: Calibri;
    font-size: 30px;
    line-height: 30px;
    float: left;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.videos {
    margin: 25px;
}

.btn-group button {
    background-color: gray; 
    border: 1px solid black; 
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    width: 25%;
    justify-content: center;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}
  
.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
  
/* Add a background color on hover */
  .btn-group button:hover {
    background-color: orange;
}
