<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Tiger Advanced</title>
    <link rel="stylesheet" href="/static/homepage.css" type="text/css">
</head>
<body>

<h2>TIGER ADVANCED</h2>
<div class="btn-group">
    <button>Home</button>
    <button>Upload</button>
    <button>Manage</button>
    <button>Log Out</button>
</div>
<hr>
<div class="vids">
    <div class="vidgroup">
    <tr>
        <td><div class="rectangle"></div></td>
        <td><div class="rectangle"></div></td>
        <td><div class="rectangle"></div></td>
        <td><div class="rectangle"></div></td>
    </tr>
    <tr>
        <td><h3>Author, Time</h3></td>
        <td><h3>Author, Time</h3></td>
        <td><h3>Author, Time</h3></td>
        <td><h3>Author, Time</h3></td>
    </tr>
    <tr>
        <td><div class="rectangle"></div></td>
        <td><div class="rectangle"></div></td>
        <td><div class="rectangle"></div></td>
        <td><div class="rectangle"></div></td>
    </tr>
    <tr>
        <td><h3>Author, Time</h3></td>
        <td><h3>Author, Time</h3></td>
        <td><h3>Author, Time</h3></td>
        <td><h3>Author, Time</h3></td>
    </tr>
    </div>
</div>
</hr>
</body>
</html>
